<?include "GlobalVariables.wxi"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="$(var.AppName)"
           Language="1033"
           Version="$(var.BuildVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="268d46f2-9865-4431-9365-cb3cca93da1c"
           InstallerVersion="200"
           Scope="perUser"
           Compressed="yes">

    <MajorUpgrade Schedule="afterInstallInitialize"
                  AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="Newer version already installed" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="$(var.AppName) Main" Level="1">
      <ComponentRef Id="RemoveAll" />
      <ComponentRef Id="RevitAddinComponent2020" />
      <ComponentRef Id="RevitAddinComponent2021" />
      <ComponentRef Id="RevitAddinComponent2022" />
      <ComponentRef Id="RevitAddinComponent2023" />
      <ComponentRef Id="RevitAddinComponent2024" />
      <ComponentRef Id="RevitAddinComponent2025" />

      <ComponentRef Id="PackageContents" />
      <ComponentGroupRef Id="ExecutablesGroup2020" />
      <ComponentGroupRef Id="ExecutablesGroup2021" />
      <ComponentGroupRef Id="ExecutablesGroup2022" />
      <ComponentGroupRef Id="ExecutablesGroup2023" />
      <ComponentGroupRef Id="ExecutablesGroup2024" />
      <ComponentGroupRef Id="ExecutablesGroup2025" />

    </Feature>

    <UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="WelcomeDlg" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <WixVariable Id="WixUIBannerBmp" Value="Assets\banner-small.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\banner-large.jpg" />
    <Icon Id="logo.ico" SourceFile="Assets\rembox-icon-white.ico" />
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />

    <UIRef Id="WixUI_Common" />

    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Root="HKCU" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
    </Property>
  </Package>

  <Fragment>
      <StandardDirectory Id="CommonAppDataFolder">
        <Directory Id="AdskFolder" Name="Autodesk">
          <Directory Id="AppPlugins" Name="ApplicationPlugins">
            <Directory Id="BundleFolder" Name="ViewHelperApp.bundle">
              <Component Id="PackageContents" Guid="dfc35633-d080-4b49-ba91-a0ce190bae86">
                <File Id="PackageContentsFile" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\PackageContents.xml" />
              </Component>
              <Directory Id="ContentsFolder" Name="Contents">
                <Directory Id="RevitAddinFolder2020" Name="Revit 2020">
                  <Component Id="RevitAddinComponent2020" Guid="c838a33d-5155-41da-a399-82aed9ce2abd">
                    <File Id="RevitAddinFile2020" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2021" Name="Revit 2021">
                  <Component Id="RevitAddinComponent2021" Guid="a0ef57cc-c48d-4126-9c70-c1486bc50bbe">
                    <File Id="RevitAddinFile2021" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2022" Name="Revit 2022">
                  <Component Id="RevitAddinComponent2022" Guid="12a67d4c-5bc1-4b83-9021-d0ee19772cdd">
                    <File Id="RevitAddinFile2022" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2023" Name="Revit 2023">
                  <Component Id="RevitAddinComponent2023" Guid="c7c5e871-dde7-4e0f-aa71-3c072782ffd8">
                    <File Id="RevitAddinFile2023" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2024" Name="Revit 2024">
                  <Component Id="RevitAddinComponent2024" Guid="6981e1be-abab-4632-9d94-87fee0790dc6">
                    <File Id="RevitAddinFile2024" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Directory Id="RevitAddinFolder2025" Name="Revit 2025">
                  <Component Id="RevitAddinComponent2025" Guid="a83cd051-f78c-4e22-bd19-98c7815459ef">
                    <File Id="RevitAddinFile2025" KeyPath="yes" Source="$(var.ViewHelperApp.Main.ProjectDir)\Manifests\ViewHelperApp.addin" />
                  </Component>
                </Directory>

                <Component Id="RemoveAll" Guid="fe7d93c5-a063-469c-8859-869799243409">
                  <RemoveFolder Id="RemoveAllFoldersOnUninstall" Directory="BundleFolder" On="uninstall" />
                  <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.Manufacturer)\$(var.AppName)" Name="Path" Type="string" Value="[VersionFolder]" KeyPath="yes" />

                  <util:RemoveFolderEx On="uninstall" Property="VersionFolder" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </StandardDirectory>
    </Fragment>
</Wix>
